.header {
  background-color: var(--color-white) !important;
  border-bottom: 1px solid var(--color-gray);
  padding: var(--space-sm) 0 !important;
  line-height: normal !important;

  display: flex;
  align-items: center;
  justify-content: center;
}